
.search > input
{
    position: relative;
    background:black;
    color: white;
    border:none;
    height: 24px;

}
header > nav > a
{
    text-decoration: none;
    color:white;
}
.logo
{
    width: 20%;
    height: auto;
    
}
nav > ol
{
    display: inline-block;
}

nav > ol > li
{
     margin-right: 22px; padding: 0;
     margin-left:22px; 
    list-style-type: none;
}
#slider
{
    background-image: url(img/slider_img.jpg);
    height: 370px;
    background-size:cover ;

    z-index: 0;
}
figure > div
{
    margin-top:150px;;
    padding:0;
}
figure > div > img
{
    position: relative;
    vertical-align: middle;
}
figure > div > img:hover
{
    transform:scale(1.1);
    transition:0.5s ;
    
}
#content-slider
{
    margin-top:100px;
    text-align:center;
    color:white;
}
#content-slider > button
{
    background: rgba(0,0,0,0.0);
    color: white;
    padding:5px;
    border: 2px solid white;
}
#content-slider > button:hover
{
    transform:scale(1.3);
    transition: 1s;
}
#featured > div > div > a>img
{
    height:200px;
}
#featured > div > div >a> img:hover
{
    transform: scale(1.2);
    transition: 0.4s;
}
#featured > div > div > p
{
  color:red;  
}
#new > div > div > a > img
{
    height:200px;
}
#new > div > div > a > img:hover
{
    transform: scale(1.2);
    transition: 0.4s;
}
#new > div > div > p
{
  color:red;  
}
footer
{
    background:black;
    height:auto;
}
footer > div > p
{
text-align: right;
color:white
}
footer >div>div> p
{
    color:white;
}
footer> div> div> input
{
    background: black;
    border: 2px solid white;
    color:white;

}
footer> div> div> button
{
    background:red;
    color:white;
    border:none;

}
#secmenu >ol >li >a
{
    text-decoration: none;
    color:black;
}
footer > div > i:hover
{
    color:white;
}
#dodaj
{
    color:white;
    background-color: red;
    border:none;
}

