
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */